<a href="{{ .Site.BaseURL }}" title="Go to home page">Homepage</a>
<h1>{{ .Title }}</h1>
<nav>
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li {{ if $currentPage.HasMenuCurrent "main" . }} class="active" {{ end }}>
          {{ $title_text := print .Title | safeHTML }}
          <a href="{{ .URL }}" title="{{ $title_text }}">
            {{ $link_text := print .Name | safeHTML }}
            Has-sub: {{ $link_text }}
          </a>
          <ul>
            {{ range .Children }}
              <li {{ if $currentPage.IsMenuCurrent "main" . }} class="active" {{ end }}>
                {{ $title_text := print .Title | safeHTML }}
                <a href="{{ .URL }}" title="{{ $title_text }}">
                  {{ $link_text := print .Name | safeHTML }}
                  is-sub: {{ $link_text }}
                </a>
              </li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li {{ if $currentPage.IsMenuCurrent "main" . }} class="active" {{ end }}>
          {{ $title_text := print .Title | safeHTML }}
          <a href="{{ .URL }}" title="{{ $title_text }}">
            {{ $link_text := print .Name | safeHTML }}
            no-sub: {{ $link_text }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
